@charset "utf-8";
body{
	font-family: 'KoHo', sans-serif;
	font-weight:bold;
	color:#003;
	background-color:#FFF;
}
.nav{
	width:100%;
	background-color:#003;
	height:100px;
	margin-top:10px;
	opacity:10;
	}
a.one{
	color:#003;
}

a.two{
	color:#FFF;
	text-decoration:none;
}

h1{
	font-family: 'Baloo Thambi', cursive;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	padding:40px;
	text-decoration:none;
}
form{
	max-width:300px;
	margin:10px auto;
	padding:10px 20px;
	background:bdc3c7;
	border-radius: 8px;
}
h2 {
	margin:0 0 30px 0;
	text-align:center;

}
input[type="text"],
input[type="email"],
input[type="password"],
texttarea,
select{
	background:#ecf0f1;
	border:none;
	font-size:18px;
	height:auto;
	margin:0;
	outline:0;
	padding:15px;
	width:100%;
	background-color:#FFF;
	color:#003;
	box-shadow:0 1px #CCCCCC; inset;
	margin-bottom:30px

}
input:focus, textarea:focus{
	box-shadow:0 0 5px #000033;
	border:1px solid #003;

}
select {
	padding: 6px;
	height:32px;
	border-radius:2px
}
fieldset {
	margin-bottom:30px;
	border:none;
}
legend {
	display:block;
	margin-bottom: 8px;
}
label.light {
	font-weight:300;
	display:inline;
}
.submit {
	padding:19px 39px 18px 39px;
	color:#FFF;
	background-color:#003;
	font-size:18px;
	text-align:center;
	font-style:normal;
	border-radius: 5px;
	width:100%;
	border:1px solid #009;
	border-width:1px 3px 3px;
	box-shadow:0 -1px #000033;
	margin-bottom:10px;
}
@media screen and (min-width: 480px) {
	form{
		max-width: 480px;
}
